@import'../../sass/mixins';

.register {
    font-size: 12px;
    @include full-width-height;
    @include centering-flex(center);
    flex-direction: column;
}
form {
    @include nice-form;
    min-height: 340px;
}