<app-add-todo (cancel)="toggleAdd()" *ngIf="addTodos" (updateCreated)="updateTodos($event)"></app-add-todo>
<app-header *ngIf="online"></app-header>
<div class="dashboard">
  <div class="ongoing">
    <div class="header">
      <h3>TODO ITEMS</h3>
      <button (click)="toggleAdd()" >ADD</button>
    </div>
    <div class="content">
      <app-ongoing-tasks (updateTodos)="updateTodos($event)" [todos]="ongoingTodos"></app-ongoing-tasks>
    </div>
  </div>
  <div class="done">
    <div class="header">
      <h3>DONE ITEMS</h3>
    </div>
    <div class="content">
      <app-done-tasks [todos]="doneTodos"></app-done-tasks>
    </div>
  </div>
</div>