<div class="login">
  <form ngNativeValidate #form (submit)="login(form)">
    <input autofocus="autofocus" autocomplete="email" required="required" name="email" placeholder="Email" type="email">
    <input autocomplete="current-password"  required="required" name="password" placeholder="Password" type="password">
    <button type="submit badge-button">LOGIN <span class="badge">></span> </button>
    <p *ngIf="problem" class="warning"> {{ error }} </p>
    <p class="log-reg-switch">Not registered? <a [routerLink]="['/register']">Create an account</a></p>
  </form>
</div>