$white: #ffffff;
$black: #1a1a1a;
// for cancel background color
$red: #f44336;
// general green
$green: #8bc34a;
// for input background color
$light-white: #f2f2f2;
// for 
$light-gray: #c5c5c5;
// for swtiching between login and register 
$dark-grey: #8b8b8b;
// for the transparent background of new task
$new-task-background: #424242;
// for task done color
$task-done: #bfbfbf;