@import 'colors';

@mixin active-bg($color) {
    &:active {
        background-color: $color;
    }
}

@mixin centring-flex($justify: space-between) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin full-width-height {
    width: 100%;
    height: 100%;
}

@mixin badge-button {
    @include centring-flex;
    color: $white;
	text-align: left;
	padding: 0 4%;
    cursor: pointer;
}

@mixin nice-input {
    //
    &:focus {
        border: $green groove 1px;
    }
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: $light-white;
    font-weight: 600;
    // separation from controls
    margin-bottom: 8%;

    &::placeholder {
        color: $done-title;
    }
}

@mixin nice-form {
    @include centring-flex(center);
    background-color: $white;
    box-sizing: border-box;
    min-height: 300px;
    min-width: 300px;
    padding: 0 25px;
    
    //
    flex-direction: column;

    //
    input, button {
        width: 100%;
        font-size: 16px;
    }

    button {
        @include badge-button;
        @include active-bg($green + 20);
        margin-bottom: 10px;
    }

    input {
        @include nice-input;
    }
}