<app-loading *ngIf="loading"></app-loading>
<div class="login">
  <form [formGroup]="loginForm" #form (ngSubmit)="login(form)">
    <em [hidden]="(email.valid || email.untouched)" class="invalid-input"> {{ email.errors | keys }} </em>
    <input [class.error]="!validateEmail()" formControlName="email" autofocus name="email" placeholder="Email" type="email">
    <em [hidden]="(password.valid || password.untouched)" class="invalid-input"> {{ password.errors | keys }} </em>
    <input [class.error]="!validatePassword()" formControlName="password" name="password" placeholder="Password" type="password">
    <label for="remember">
      <input id="remember" type="checkbox">
        Remember me
    </label>
    <button [disabled]="!loginForm.valid" type="submit">LOGIN <img class="badge" src="assets/forward.png" alt=""> </button>
    <p *ngIf="problem" class="warning"> {{ error }} </p>
    <p class="footnote">Not registered? <a [routerLink]="['/auth/register']">Create an account</a></p>
  </form>
</div>