@import'../../sass/mixins';
@import'../../sass/colors';
.login {
    font-size: 12px;
    @include full-width-height;
    @include centering-flex(center);
    flex-direction: column;
    form {
        @include nice-form;
        label {
            font-size: 14px;
            display: flex;
            align-items: center;
            width: 100%;
            min-height: 16px;
            padding-bottom: 14px;
            input[type="checkbox"] {
                margin: 0 5px 0 0;
            }
        }
    }
}


