<app-loading *ngIf="loading"></app-loading>
<div class="login">
  <form ngNativeValidate #form (submit)="login(form, $event)">
    <input autofocus="autofocus" autocomplete="email" required name="email" placeholder="Email" type="email">
    <input autocomplete="current-password"  required name="password" placeholder="Password" type="password">
    <button type="submit" class="badge-button">LOGIN <img class="badge" src="assets/forward.png" alt=""> </button>
    <p *ngIf="problem" class="warning"> {{ error }} </p>
    <p class="footnote">Not registered? <a [routerLink]="['/register']">Create an account</a></p>
  </form>
</div>