@import'../../sass/colors';
@import'../../sass/mixins';

// the whole component
.add-todo {

    // position it absolute so that it's overlaying the app
    position: absolute;
    z-index: 10;

    // full width and height of the viewport
    @include full-width-height;

    //
    background-color: $new-task-background;

    // flexified so that it's centered
    @include centering-flex(center);
    
    //
    form {
        
        //
        input, button {
            font-size: 16px;
            font-weight: 600;      
        }

        // 
        display: flex;
        flex-direction: column;

        // min width for mobile screens of 320px down
        max-width: 360px;        
        width: 100%;        
        min-height: 135px;

        //
        padding: 20px;
        background-color: $white;

        // the new task title input
        .title {
            @include nice-input;
        }
    }
}

// for the controls save and cancel
.controls {

    //
    display: flex;

    // general styling for buttons
    button {
        @include badge-button;
        width: 48%;
    }
    .save {
        @include active-bg($green + 20)
    }
    .cancel {
        background-color: $red;
        margin-right: 5%;
        @include active-bg($red + 20);
    }
    
}