<div (click)="cancelAdding()" id="add-todo" class="add-todo">
  <form id="add-todo-form" (click)="dontCancel($event)" #form (submit)="save(form, input, $event)">
    <input autofocus="autofocus" class="title" #input name="title" type="text" placeholder="Task">
    <div class="controls">
      <button (click)="cancelAdding()" class="cancel" type="button">Cancel <img class="badge" src="assets/close.png" alt=""></button>
      <button class="save" type="submit">{{ add }} <img class="badge" src="assets/forward.png" alt=""></button>
    </div>
  </form>
</div>