@import '../../sass/mixins';
@import '../../sass/colors';

.loading {
    @include full-width-height;
    @include centering-flex(center);
    position: absolute;
    z-index: 11;
    background-color: $new-task-background;
}