$white: #ffffff;
$black: #1a1a1a;
// for cancel background color
$red: #f44336;
// general green
$green: #8bc34a;
// for input background color and task done
$light-white: #f2f2f2;
// for placholder
$light-gray: #c5c5c5;
// for swtiching between login and register 
$dark-gray: #8b8b8b;
// for the transparent background of new task
$new-task-background: rgba(66,66,66,0.3);
// for task done color and new task
$done-title: #bfbfbf;
// notification background
$notification: $light-white;