@import 'colors';

// the background when the button is mousedowned
@mixin active-bg($color) {
    &:active {
        background-color: $color;
    }
}

// a reusable centering flex display
@mixin centering-flex($justify: space-between) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin full-width-height {
    width: 100%;
    height: 100%;
}

// the container for a button with a badge
@mixin badge-button {
    @include centering-flex;
    color: $white;
	text-align: left;
	padding: 0 4%;
}

// every single input in my app is a nice input <3
@mixin nice-input {
    &:focus {
        border: $green groove 1px;
    }
    box-sizing: border-box;
    margin-bottom: 8%;
    padding: 10px;
    background-color: $light-white;
    &::placeholder {
        color: $done-title;
    }
}

@mixin nice-form {
    @include centering-flex(center);
    flex-direction: column;

    background-color: $white;
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    max-width: 360px;
    padding: 0 25px;
    

    //
    input, button {
        font-size: 16px;
    }

    button {
        width: 100%;
        @include badge-button;
        @include active-bg($green + 20);
        margin-bottom: 10px;
    }
    
    em.invalid-input {
        color: $red;
        align-self: flex-end;
        margin-bottom: 4px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="name"]
    {
        width: 100%;
        @include nice-input;
    }
}