@import '../colors';
div {
    background: $white;
    margin: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.done-todo {
    background-color: $light-white;
    text-decoration: line-through;
    color: $done-title;
}